/*
* Colors
*/
$color-primary: #5870f7;
$color-secondary: #f8f9fa;
$color-light: #ffffff;
$color-dark: #2f4858;
$color-gray: #676768;
$color-border: #d5d5d5;
$color-danger: #fc0000;
$color-shadow: rgba(1, 6, 33, 0.06);
